@model IEnumerable<BLL.DTO.Cliente.ClienteListagemDTO>
@{
    Layout = "_LayoutAdmin";
}
@{
    ViewData["Title"] = "Clientes";
}

<h2>Clientes</h2>
<hr />

<script>
    $(document).ready(function () {
        $('#clientes').DataTable({
            //"info" : false,
            "language": {
                "lengthMenu": "Mostrando _MENU_ registros por página",
                "zeroRecords": "Desculpe, nada encontrado",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Nenhum registro disponível",
                "search": "Buscar:",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "próximo",
                    "previous": "Anterior"
                }
            }
        });
    });
</script>

<table id="clientes" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>RG</th>
            <th>Data Nascimento</th>
            <th>E-mail</th>
            <th>País</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model)
        {
        <tr>
            <td>@cliente.Nome</td>
            <td>@Convert.ToInt64(@cliente.CPF).ToString(@"000\.000\.000\-00")</td>
            <td>@Convert.ToInt64(@cliente.RG).ToString(@"00\.000\.000\-0")</td>
            <td>@cliente.DataNascimento.ToString("dd/MM/yyyy")</td>
            <td>@cliente.Email</td>
            <td>@cliente.NomePais</td>
            <td>
                @switch (cliente.IdStatus)
                {
                    case 1:
                        <p>Cadastrado</p>
                        break;
                    case 2:
                        <p>Aguardando análise da gerência</p>
                        break;
                    case 4:
                        <p>Aguardando análise do controle de risco</p>
                        break;
                    case 7:
                        <p>Correção de cadastro</p>
                        break;
                    default:
                        break;
                }
            </td>
            <td>
                @if (cliente.UsuarioPermitido)
                {
                    @switch (cliente.IdStatus)
                    {
                        case 1:
                            <a href="/Clientes/EnviarAnaliseGerencia/@cliente.Id" class="btn btn-success">Enviar Análise da Gerência</a>
                            <a href="/Clientes/ExcluirCliente/@cliente.Id" class="btn btn-danger">Excluir</a>
                            break;
                        case 2:
                            <a href="/Clientes/AprovarFluxo/@cliente.Id" class="btn btn-success">Aprovar</a>
                            <a href="/Clientes/CorrecaoDeCadastro/@cliente.Id" class="btn btn-warning">Correção</a>
                            <a href="/Clientes/ReprovarFluxo/@cliente.Id" class="btn btn-danger">Reprovar</a>
                            break;
                        case 4:
                            <a href="/Clientes/AprovarFluxo/@cliente.Id" class="btn btn-success">Aprovar</a>
                            <a href="/Clientes/CorrecaoDeCadastro/@cliente.Id" class="btn btn-warning">Correção</a>
                            <a href="/Clientes/ReprovarFluxo/@cliente.Id" class="btn btn-danger">Reprovar</a>
                            break;
                        case 7:
                            <a href="/Home/CorrigirCadastro/@cliente.Id" class="btn btn-warning">Corrigir cadastro</a>
                            break;
                        default:
                            break;
                    }
                }
                else
                {
                    <p>Intereção bloqueada</p>
                }
            </td>
        </tr>
        }
    </tbody>
</table>